/*
 * Chargement des fontes
 * Voir : http://cours-web.ch/css/typographie
*/


@font-face {
    font-family: 'selectricroman';
    src: url('../fonts/selectricroman.woff2') format('woff2'),
         url('../fonts/selectricroman.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'selectricmono';
    src: url('../fonts/selectricmono.woff2') format('woff2'),
         url('../fonts/selectricmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
 * MISE EN PAGE
 *
 * Définition du modèle de boîte
 * Voir : http://cours-web.ch/css/box-model
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	font-family: selectricroman, serif;
  background: #eee;
  text-shadow: 0 0 1em rgba(0,0,0,0.2);
  letter-spacing: 0.12em;
  padding: 5vmin 10vw;
  text-align: center;
}

html, a {
  color: #444;
}

body {
  /*transform: translateY(-50%);
  margin-top: 50%;*/
}

h1 {
  font-size: 7vw;
  margin: 0;
  letter-spacing: 0.12em;
}

p {
  font-size: 5vw;
  line-height: 1.8;
}

/* Définissons une taille de fonte minimum */
@media screen and (max-width: 40em) {
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.8em;
  }
}

a {
  text-decoration: none;
  border: 0 solid transparent;
  border-radius: 50%;
  border-color: #eee;
  padding: 0.2em; /* compense la bordure */
}

a:hover {
  color: magenta;
  border-color: cyan;
  border-width: 0.2em;
  padding: 0;
  background-color: yellow;
  box-shadow: 0 0 0.8em 0.2em magenta;
}
